DISKS: list = []
"""
Список дисков для мониторинга. Пустой список ведёт к обработке
всех дисков (точек монтирования).
"""

WARNING_AFTER: float = 80
"""Процент использования, после которого начинаются предупреждения."""

CRITICAL_AFTER: float = 95
"""Критический процент использования диска."""

TOKEN = '111111188888444wwwwwwweeeeeFFFFF'
"""Токен вашего телеграм-бота."""

MY_CHAT_ID = '1234567890'
"""Id вашего чата телеграм."""

LOGFILE_PATH: str = 'log/disk_space.log'
"""Путь для файла журнала относительно каталога программы."""

LOG_MAX_SIZE: int = 5_000_000
"""Максимальный размер файла журнала в байтах."""

NUMBER_OF_LOG_FILES: int = 5
"""Число хранимых файлов журнала."""
